.nav {
  display: flex;
  margin: 10px 0;
}

.menu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0px);
  display: flex;
  margin: 10px 0;
}

.none {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-14.5%);
}

.wrapper {
  display: flex;
  margin: 10px 0;
}

.link {
  transition: transform 0.3s ease-in-out;
  padding: 0 10px;
  color: green;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #3390c1;
}


.turn {
  padding: 0 20px;
  align-self: center;
  width: 38px;
  height: 38px;
  color: #3390c1;
  transition: all 0.3s linear;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  cursor: pointer;
}

.turn_180 {
  padding: 0 20px;
  align-self: center;
  width: 38px;
  height: 38px;
  color: #3390c1;
  transition: all 0.3s linear;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  cursor: pointer;
}